// GENERAL PROJECT STYLES
body{
    font-feature-settings: 'cpsp' on;
}
// TITLES
.h1{
    @include fontSizes(45,64);
    font-weight: normal;
}
.h2{
    @include fontSizes(28,39);
    text-transform: capitalize;
    margin-bottom: rem(0);
}
.h3{
    font-weight: 500;
    @include fontSizes(23,36);
}

// BUTTONS
.btn{
    background: $black;
    border: 1px solid $black;
    display: flex;
    border-radius: 52px;
    padding: rem(14) rem(40);
    text-decoration: none;
    transition: .25s ease-in-out;
    color: white;
    cursor: pointer;
    @include fontSizes(17,17);
    &__text{
        transition: .25s linear;
        display: block;
        font-weight: 500;
    }
    .icon{
        transition: .25s linear;
    }
    &--white{
        background-color: transparent;
        color: $black;
        padding: rem(10) rem(32);
        &:hover{
            background-color: $black;
            .btn__text{
                //color: white;
                background: linear-gradient(270deg,#ff0002,#d902fb 47.29%,#fe7208 92.65%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &--withIcon{
        position: relative;
        padding-right: rem(64);
        .icon{
            position: absolute;
            top: 50%;
            right: rem(32);
            transform: translateY(-50%);
            #paint0_linear{
                stop{
                    transition: .25s ease-out;
                    stop-color: #fff;
                }
            }
        }
        &:hover{
            .btn__text{
                transform: translateX(-100%);
                opacity: 0;
            }
            .icon{
                right: calc(50% - 10px);
                #paint0_linear{
                    stop{
                        &:first-child{
                            stop-color: #FF0002;
                        };
                        &:nth-child(2){
                            stop-color: #D902FB;
                        }
                        &:nth-child(3){
                            stop-color: #FE7208;
                        }
                    }
                }
            }
        }
    }
    &:hover{

    }
}
// MiniProduct
.miniProduct{
    margin-bottom: rem(38);
    &__inner{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__wrapper{
        position: relative;
    }
    &__image{
        width: 100%;
        margin-bottom: rem(17);
        height: rem(336);
        background: #EFF0F2;
        border-radius: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 200px;
            max-height: 200px;
        }
    }
    &__title{
        font-weight: 600;
        @include fontSizes(16,22);
        display: block;
        width: 100%;
        margin-bottom: rem(17);
        text-align: center;
        text-transform: uppercase;
        color: $black;
        text-decoration: none;
        &:hover{
            color: $black;
        }
    }
    &__sale{
        position: absolute;
        top: rem(10);
        right: rem(9);
        z-index: 9;
        padding: rem(11) rem(23);
        font-weight: 600;
        font-size: 16px;
        background: linear-gradient(270deg, #FF0002 0%, #D902FB 47.29%, #FE7208 92.65%);
        border-radius: 52px;
        line-height: 137.69%;
        text-transform: uppercase;
    }
}

// Footer
.footer{
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    &__wrapper{
        padding-top: rem(45);
        max-width: rem(1320);
        margin: 0 auto;
    }
    &__inner{
        display: flex;
        padding-bottom: rem(25);
    }
    &__collum{
        &-first{
            flex: 0 0 rem(450);
            .logo{
                margin-bottom: rem(37);
            }
        }
        &-center{
            padding-right: 100px;
            flex: 0 0 rem(320);
        }

    }
    &Bottom{
        border-top: 1px solid rgba(51, 51, 51, 0.1);
        display: flex;
        &__wrapper{
            width: 100%;
            max-width: rem(1320);
            height: rem(62);
            margin: 0 auto;
            display: flex;
            align-items: center;
        }
    }
    &__title{
        letter-spacing: -0.32px;
        @include fontSizes(14,28);
        font-weight: 500;
        margin-bottom: 0;
    }
    &__rating{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        @include fontSizes(14,17);
        p{
            margin-bottom: 0;
            margin-right: rem(4);
        }
    }
    &__nextpage{
        display: flex;
        align-items: center;
        font-weight: 500;
        @include fontSizes(14,17);
        img{
            margin-left: 3px;
        }
    }
}
.footerNav{
    &__title{
        font-weight: 600;
        @include fontSizes(14,40);
        letter-spacing: 0.4375px;
        text-transform: uppercase;
        margin-bottom: rem(12);
    }
    &__item{
        a{
            color: $black;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: -0.32px;
            @include fontSizes(16,28);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

//Pages
.page{
    min-height: calc(100vh);
    &-auth{
        //padding-top: rem(110);
        height: 100vh;
        background: $accent;
        .form{
            margin-top: - rem(150);
            display: flex;
            text-align: center;
            justify-content: center;
            &__inner{
                width: rem(500);
                background: #EFF0F2;
                border-radius: 33px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: rem(48) rem(60) rem(40);
                h1{
                    margin-bottom: rem(32);
                    @include fontSizes(28,38);
                }
            }
            &__row{
                margin-bottom: rem(20);
                width: 100%;
            }
            &__submit{
                margin-top: rem(8);
            }
            &__haveAccount{
                @include fontSizes(14,22);
                font-weight: 600;
                margin-top: rem(24);
                a{
                    color: $grey;
                    text-decoration: none;
                }
            }
        }
        .page__wrapper{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &-error{
        height: 100%;
        background-color: #EFF0F2;
        .page__wrapper{
            display: flex;
            position: relative;
            z-index: 9;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .error__title{
            position: relative;
            z-index: 9;
            font-weight: 500;
            @include fontSizes(100,143);
        }
        .error__subtitle{
            position: relative;
            z-index: 9;
            font-weight: 500;
            margin-bottom: rem(37);
            @include fontSizes(28,38);
        }

    }
}

//// INPUTS
// Field
.field{
    text-align: left;
    width: 100%;
    &__label{
        @include fontSizes(14,22);
        margin-bottom: rem(6);
        display: flex;
        justify-content: space-between;
        a{
            color: $grey;
            text-decoration: none;
            font-weight: 600;
            @include fontSizes(14,22)
        }
    }
    &__input{
        width: 100%;
        height: rem(50);
        padding-left: rem(20);
        background: #EFF0F2;
        border: 1px solid #000000;
        border-radius: 10px;
        &::placeholder{
            color: rgba(51, 51, 51, 0.3);
        }
    }
}

.checkbox{

    &__label{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__visual{
        flex: 0 0 rem(18);
        border: 1px solid #000000;
        border-radius: 5px;
        margin-right: rem(10);
        transition: .25s background ease-out;
        height: rem(18);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    //&__checkedIcon{
    //    width: rem(8);
    //    height: rem(6.5);
    //    background-image: url('../../images/dist/svg/check.svg');
    //}
    &__text{
        font-weight: 500;
        @include fontSizes(16,25);
    }
    &__input{
        display: none;
        &:checked + .checkbox__visual{
            background: #000000;
        }
    }
}

//LINKS
a{
    &:hover{
        color: inherit;
    }
}

