.header{
    background: #DFE2E7;
    height: rem(720);
    overflow: hidden;
    padding-top: rem(167);
    &__hand{
        //position: absolute;
        margin-top: - rem(100);
    }
    &__description{
        @include fontSizes(14,22);
        letter-spacing: 0.33px;
        font-weight: 500;
        margin-top: rem(22);
        max-width: rem(426);
    }
    .btn{
        margin-top: rem(40);
    }
    &__animation{
        top: 0;
        display: flex;
        justify-content: flex-end;
        width: rem(740);
        margin-top: rem(110);
        position: absolute;
        right: 0;
        z-index: 2;
    }
    .pills{
        &__item{
            position: absolute;
            &-1{
                top: rem(40);
                left: 0;
            }
            &-2{
                left: rem(100);

            }
            &-3{
                left: rem(385);
                top: rem(45);
            }
            &-4{
                top: rem(246);
                left: rem(15);
            }
            &-5{
                top: rem(390);
                left: rem(215);
            }
            &-6{
                top: rem(320);
                left: rem(520);
            }
        }
    }
    &__gradient{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        pointer-events: none;
    }
    .payments{
        position: relative;
        z-index: 999;
        padding-top: rem(85);
        &__list{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}