.topNav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: .25s ease-in-out;
    height: rem(89);
    &__wrapper{
        padding-top: rem(23);
        max-width: rem(1322);
        margin: 0 auto;
    }
    .navActions{
        display: flex;
        &__ul{
            display: flex;
            align-items: center;
        }
        &__item{
            margin-right: 30px;
        }
        &__login{
            margin-right: rem(16);
        }
    }
    .nav{
        padding-left: rem(70);
        &__list{
            display: flex;
        }
        &__item{
            margin-right: rem(30);
            position: relative;
            a{
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.33px;
                text-transform: capitalize;
                text-decoration: none;
                color: $textcolor;
            }
            &:before{
                content: '';
                width: rem(34);
                height: 1px;
                display: block;
                position: absolute;
                bottom: 0;
                transform: translateX(-30px);
                opacity: 0;
                transition: .25s ease-out;
                border-radius: 100%;
                left: -28px;
                background-color: $black;
            }
            &:hover{
                &:before{
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .warehouseSelect{
        &__wrapper{

        }

        &__inner{
            cursor: pointer;
            height: rem(40);
            border: 1px solid $black;
            border-radius: rem(52);
            padding-left: rem(10);
            padding-right: rem(13);
            justify-content: space-between;
            width: rem(63);
            display: flex;
            align-items: center;
        }
        &__dropdown{
            margin-top: 1px;
            padding-top: rem(15);
            padding-bottom: rem(11);
            width: rem(63);
            background: #EFF0F2;
            border-radius: 42px;
            position: absolute;
            transform: scaleY(0);
            transform-origin: top;
            transition: .25s;
        }
        &__item{
            height: rem(35);
            text-align: center;
            width: 100%;
            display: flex;
            opacity: 0;
            transition: .25s opacity .25s;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(51, 51, 51, 0.1);
            &:last-child{
                border-bottom: 0;
            }
        }
        &.active{
            .warehouseSelect__dropdown{
                transform: scaleY(1);
                .warehouseSelect__item{
                    opacity: 1;
                }
            }
        }
    }
    &.sticky{
        background: #DFE2E7;
    }
}