.section{
    padding-top: rem(80);
    padding-bottom: rem(50);
}
.categoryList{
    padding-top: rem(40);
    padding-left: 0;
    padding-right: 0;
    .slick-slide {
        margin: 0 8px;
        width: calc(100% + 16px);
    }
    .slick-list {
        margin: 0 -8px;
    }
    .slick-track{
        margin: 0;
    }
}
.slick-nav{
    display: flex;
    justify-content: flex-end;
    .btn{
        width: rem(54);
        height: rem(40);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            margin-left: 0;
        }
        &.prev{
            margin-right: rem(20);
            .icon{
                transform: rotate(180deg) !important;
                path{
                    stroke: $black;
                }
                line{
                    stroke: $black;
                }
            }
            &:hover{
                background-color: transparent;
            }
        }
        &:hover{
            .icon{
                transform: none;
            }
        }
    }
}
.categoryItem{
    padding-top: rem(42);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    height: rem(405);
    position: relative;
    width: rem(382);
    background-color: #EFF0F2;
    border-radius: rem(31);
    transition: .25s linear;
    &:before{
        content: '';
        width: 100%;
        display: block;
        height: rem(405);
        top: 0;
        border-radius: rem(31);
        position: absolute;
        opacity: 0;
        transition: .25s linear;
        z-index: 0;
        background: linear-gradient(180deg, #FF0002 0%, #DA07F1 53.29%, #FE7208 100%), #FD700B;
    }
    &__title{
        transition: .25s ease-in-out font-size;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 1;
    }
    &__btn{
        position: absolute;
        opacity: 0;
        margin-top: rem(94);
        top: 0;
        left: 50%;
        padding: rem(10) rem(30);
        padding-right: rem(60);
        transform: translate(-50%,50px);
        transition: .25s ease-in-out;
    }
    &__image{
        width: 100%;
        transition: .25s linear;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 9;
        top: rem(125);
        margin-bottom: 0;
    }
    &:hover{
        padding-top: rem(36);
        &:before{
            opacity: 1;
        }
        .categoryItem{
            &__title{
                font-size: rem(28);
            }
            &__btn{
                opacity: 1;
                transform: translate(-50%,0);
            }
            &__image{
                padding-top: rem(20);
            }
        }
    }
}

.products{
    &__list{
        padding-top: rem(40);
        display: flex;
        flex-wrap: wrap;
        .miniProduct{
            flex: 0 0 calc(25% - 15px);
            margin-right: rem(20);
            &:nth-child(4n){
                margin-right: 0;
            }
        }
    }
}

// FAQ
.faqRow{
    display: flex;
    .faqList{
        flex: 0 0 calc(50% - 10px);
        &:first-child{
            margin-right: 20px;
        }
    }
}
.faqList{
    padding-top: rem(40);
}
// FAQ ITEM
.faqItem{
    margin-bottom: rem(8);
    &__wrapper{
        background: #EFF0F2;
        border-radius: 20px;
        padding: rem(25) rem(32);
    }
    &__body{
        padding-top: rem(19);
        margin-bottom: 0;
        padding-right: rem(47);
        display: none;
        font-weight: 500;
        @include fontSizes(14,24);
    }
    &__head{
        cursor: pointer;
        font-weight: 500;
        display: flex;
        letter-spacing: -0.3px;
        align-items: center;
        justify-content: space-between;
        span{
            padding-right: rem(75);
        }
    }
}

// Reviews
.reviews{
    .slider{
        padding-top: rem(40);
    }
    .slick-list{
        overflow: visible;
    }
    .slick-slide{
        margin-right: 20px;
    }
}
.reviewsItemInfo{
    border: 1px solid #EBEBEB;
    border-radius: 15px;
    padding-left: rem(22);
    padding-top: rem(16);
    padding-right: rem(22);
    width: rem(280) !important;
    height: rem(180);
    &__head{
        padding-bottom: rem(13);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__p{
        padding-bottom: rem(18);
        font-weight: 500;
        @include fontSizes(14,17);
        letter-spacing: -0.466667px;
        margin-bottom: rem(12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.0605605);
    }
    &__bottom{
        display: flex;
        align-items: center;
        img{
            margin-right: rem(12);
        }
        b{
            font-weight: 500;
        }
    }
}
.reviewsItem{
    background: #EFF0F2;
    border-radius: 15px;
    padding: 20px;
    width: rem(340) !important;
    height: rem(180) !important;
    &__head{
        display: flex;
        justify-content: space-between;
    }
    &__name{
        font-weight: 500;
        @include fontSizes(18,26);
        letter-spacing: -0.6px;
    }
    .rating{
        margin-top: rem(10);
    }
    &__body{
        padding-top: rem(20);
        margin-bottom: rem(6);
        font-weight: 500;
        @include fontSizes(14,22);
    }
    &__date{
        font-weight: 500;
        @include fontSizes(12,26);
        text-align: right;
        letter-spacing: -0.466667px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}
.rating{
    display: flex;
}