.page-shop{
    .shopMain{
        &__wrapper{
            margin-top: rem(74);
        }
    }
    .shopHeader{
        padding-top: rem(180);
        height: rem(500);
        background: #DFE2E7;
        &__head{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__title{
            display: flex;
            align-items: flex-start;
            margin-bottom: rem(24);
        }
        &__allThings{
            margin-top: rem(10);
            background: #EFF0F2;
            border-radius: 24px;
            display: inline-flex;
            align-items: center;
            color: $black;
            text-decoration: none;
            @include fontSizes(9,12);
            padding: 6px 12px 4px;
            &:hover{
                text-decoration: underline;
            }
        }
    };
    .slick-slide {
        margin: 0 9px;
        width: calc(100% + 18px);
    }
    .slick-list {
        margin: 0 -9px;
    }
    .categorySmallItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: rem(132);
        &__image{
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(132);
            background-color: #EFF0F2;
            border-radius: 31px;
            overflow: hidden;
            position: relative;
            margin-bottom: rem(15);
            figure{
                position: relative;
                z-index: 1;
                margin-bottom: 0;
            }
            &:before{
                opacity: 0;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                transition: .25s linear;
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 31px;
                z-index: 0;
                background: linear-gradient(180deg, #FF0002 0%, #DA07F1 53.29%, #FE7208 100%), #FD700B;
            }
        }
        &__link{
            @include fontSizes(14,22);
            display: block;
            width: 100%;
            text-align: center;
            color: $black;
            text-decoration: none;
        }
        &:hover{
            .categorySmallItem__image{
                &:before{
                    opacity: 1;
                }
            }
        }
    }
    .asideFilter{
        width: rem(270);
        &__title{
            @include fontSizes(23,36);
            margin-bottom: rem(24);
        }
    }
    .filterList{
        margin-bottom: rem(30);
        &__title{
            @include fontSizes(18,28);
            font-weight: 600;

        }
        &__item{
            margin-bottom: rem(11);
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__more{
            margin-top: rem(17);
            background: linear-gradient(270deg, #FF0002 0%, #D902FB 47.29%, #FE7208 92.65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .sliderHead{
            display: flex;
        }
        .sliderBody{
            display: flex;
            align-items: center;
        }
        #slider-range{
            width: 100%;
            margin: 0 rem(15);
        }
    }
    .sliderControl{
        margin-bottom: rem(27);
        display: flex;
        border: 1px solid #DFE2E7;
        box-sizing: border-box;
        border-radius: 46px;
        width: rem(100);
        padding-left: rem(14);
        height: rem(40);
        align-items: center;
        padding-right: rem(5);
        span{
            display: block;
            width: rem(42);
            min-width: rem(42);
            @include fontSizes(14,17);
        }
        input{
            font-weight: 600;
            border: 0;
            width: 100%;
            @include fontSizes(14,17);

        }
        &--of{
            margin-right: rem(35);
            position: relative;
            &:after{
                content: '';
                height: 2px;
                width: 10px;
                position: absolute;
                right: -24px;
                background-color: #DFE2E7;
            }
        }
    }
    .noUi-target{
        height: 2px;
        border: 0;
        background-color: #DFE2E7;
        box-shadow: none;
    }
    .noUi-connect{
        background: linear-gradient(270deg, #FF0002 0%, #D902FB 47.29%, #FE7208 92.65%);
    }
    .noUi-handle{
        border: 0;
        cursor: pointer;
        box-shadow: none;
        right: -8px !important;
        width: rem(14) !important;
        height: rem(14) !important;
        border-radius: 100%;
        background: #000000;

        &:before,&:after{
            display: none;
        }
    }
}