<div class="topNav">
    <div class="topNav__wrapper align-items-center">
        <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="topNav__inner">
                        <a href="/" class="topNav__logo">
                            <img src="images/dist/main/logo.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <nav class="topNav__nav nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="/shop.html">Shop</a>
                            </li>
                            <li class="nav__item">
                                <a href="/shop.html">How to buy Bitcoins & Credit Card, Google Pay</a>
                            </li>
                            <li class="nav__item">
                                <a href="/shop.html">About Us</a>
                            </li>
                            <li class="nav__item">
                                <a href="/shop.html">FAQ</a>
                            </li>
                            <li class="nav__item">
                                <a href="/shop.html">Contact us</a>
                            </li>
                            <li class="nav__item">
                                <a href="/shop.html">blog</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2">
                    <div class="topNav__actions navActions">
<!--                        For login page//-->
<!--                        <a href="/login.html" class="btn btn&#45;&#45;white navActions__login">Log In</a>-->

                        <ul class="navActions__ul">
                            <li class="navActions__item">
                                <button>
                                    <svg class="icon" width="20" height="20">
                                        <use xlink:href="#search"></use>
                                    </svg>
                                </button>
                            </li>
                            <li class="navActions__item">
                                <button>
                                    <svg class="icon" width="20" height="20">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </button>
                            </li>
                            <li class="navActions__item">
                                <a href="/login.html">
                                    <svg class="icon" width="20" height="20">
                                        <use xlink:href="#user"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>

                        <div class="warehouseSelect">
                            <div class="warehouseSelect__wrapper">
                                <div class="warehouseSelect__inner">
                                    <div class="warehouseSelect__select">
                                        <img src="images/dist/flags/usa.png" alt="usa">
                                    </div>
                                    <svg class="icon" width="7" height="3">
                                        <use xlink:href="#arrowDown"></use>
                                    </svg>
                                </div>
                                <div class="warehouseSelect__dropdown">
                                    <button class="warehouseSelect__item">
                                        <img src="images/dist/flags/es.png" alt="us">
                                    </button>
                                    <button class="warehouseSelect__item">
                                        <img src="images/dist/flags/ch.png" alt="us">
                                    </button>
                                    <button class="warehouseSelect__item">
                                        <img src="images/dist/flags/pl.png" alt="us">
                                    </button>
                                    <button class="warehouseSelect__item">
                                        <img src="images/dist/flags/rm.png" alt="us">
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>