<!--#include virtual="/parts/header.html" -->

<!--#include virtual="/parts/topNav.html" -->
<div class="page page-error">
    <img src="images/dist/main/gradient.png" alt="" class="header__gradient">
    <div class="page__wrapper">
        <h1 class="error__title">404</h1>
        <h2 class="error__subtitle">Page not found</h2>
        <a href="#" class="btn btn--withIcon">
            <span class="btn__text">Go Back</span>
            <img class="icon" src="images/src/icons/arrowRight.svg" alt="">
        </a>
    </div>
</div>
<script src="js/app.min.js"></script>
</body>
</html>