<!--#include virtual="/parts/header.html" -->

<!--#include virtual="/parts/topNav.html" -->
<header class="header">
    <img src="images/dist/main/gradient.png" alt="" class="header__gradient">
    <div class="header__animation">
        <img src="images/dist/pills/1.png" class="parallax pills__item pills__item-1"/>
        <img src="images/dist/pills/2.png" class="parallax pills__item pills__item-2"/>
        <img src="images/dist/pills/3.png" class="parallax pills__item pills__item-3"/>
        <img src="images/dist/pills/4.png" class="parallax pills__item pills__item-4"/>
        <img src="images/dist/pills/5.png" class="parallax pills__item pills__item-5"/>
        <img src="images/dist/pills/6.png" data- class="parallax pills__item pills__item-6"/>
        <img src="images/dist/main/header.png" class="header__hand"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="h1">Shop & Buy <br> Medications Online </h1>
                <p class="header__description">Welcome to ExpressPCT, your one-stop shop for affordable online medications. We offer meds purchasable with credit card and Bitcoin. </p>
                <button class="btn btn--withIcon">
                    <span class="btn__text">Shop now</span>
                    <svg width="20" class="icon" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.589 1L19 7.5L12.589 14M1 7.25H18.2603" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                            <linearGradient id="paint0_linear" x1="-6.15068" y1="7" x2="23.9315" y2="7" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FF0002"/>
                                <stop offset="0.525846" stop-color="#D902FB"/>
                                <stop offset="1" stop-color="#FE7208"/>
                            </linearGradient>
                        </defs>
                    </svg>


                </button>
            </div>
        </div>
        <div class="row">
            <div class="payments">
                <div class="payments__wrapper">
                    <ul class="payments__list">
                        <li class="payments__item">
                            <svg class="icon" width="118">
                                <use xlink:href="#payoneer"></use>
                            </svg>
                        </li>
                        <li class="payments__item">
                            <svg class="icon" width="134">
                                <use xlink:href="#bitcoin"></use>
                            </svg>
                        </li>
                        <li class="payments__item">
                            <svg class="icon" width="144">
                                <use xlink:href="#paypal"></use>
                            </svg>
                        </li>
                        <li class="payments__item">
                            <svg class="icon" width="106">
                                <use xlink:href="#googlepay"></use>
                            </svg>
                        </li>
                        <li class="payments__item">
                            <svg class="icon" width="101">
                                <use xlink:href="#mastercard"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="categories" class="section categories">
    <div class="categories__wrapper category">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col d-flex align-items-center">
                    <h2 class="h2">All things wellness</h2>
                </div>
                <div class="col-2">
                    <div class="slick-nav">
                        <button class="prev btn btn--white">
                            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.5 14L0.999999 7.5L7.5 1" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="19.25" y1="7.75" x2="1.75" y2="7.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button class="next btn">
                            <svg class="icon" width="20" height="15">
                                <use xlink:href="#arrowRight"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="slider categoryList">
                    <div class="categoryItem">
                        <h3 class="h3 categoryItem__title">Mental Health</h3>
                        <button class="categoryItem__btn btn btn--withIcon">
                            <span class="btn__text">Shop now</span>
                            <svg class="icon" width="19" height="13">
                                <use xlink:href="#arrowRight"></use>
                            </svg>
                        </button>
                        <figure class="categoryItem__image">
                            <img src="images/dist/products/categoryMental.png" alt="Mental Health">
                        </figure>
                    </div>
                    <div class="categoryItem">
                        <h3 class="h3 categoryItem__title">Vitamin & Health</h3>
                        <button class="categoryItem__btn btn btn--withIcon">
                            <span class="btn__text">Shop now</span>
                            <svg class="icon" width="19" height="13">
                                <use xlink:href="#arrowRight"></use>
                            </svg>
                        </button>
                        <figure class="categoryItem__image">
                            <img src="images/dist/products/categoryVitamin.png" alt="Vitamin & Health">
                        </figure>
                    </div>
                    <div class="categoryItem">
                        <h3 class="h3 categoryItem__title">Injection</h3>
                        <button class="categoryItem__btn btn btn--withIcon">
                            <span class="btn__text">Shop now</span>
                            <svg class="icon" width="19" height="13">
                                <use xlink:href="#arrowRight"></use>
                            </svg>
                        </button>
                        <figure class="categoryItem__image">
                            <img src="images/dist/products/categoryInjection.png" alt="Injection">
                        </figure>
                    </div>
                    <div class="categoryItem">
                        <h3 class="h3 categoryItem__title">Injection</h3>
                        <button class="categoryItem__btn btn btn--withIcon">
                            <span class="btn__text">Shop now</span>
                            <svg class="icon" width="19" height="13">
                                <use xlink:href="#arrowRight"></use>
                            </svg>
                        </button>
                        <figure class="categoryItem__image">
                            <img src="images/dist/products/categoryInjection.png" alt="Injection">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="products" class="section products">
    <div class="products__wrapper">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <h2 class="h2">Some of our products</h2>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <button class="btn btn--white">
                        <span class="btn__text">See all</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="products__list">
                        <!--  Mini Product-->
                        <div class="miniProduct">
                            <div class="miniProduct__wrapper">
                                <div class="miniProduct__sale">Sale -30%</div>
                                <div class="miniProduct__inner">
                                    <figure class="miniProduct__image">
                                        <a href="#">
                                            <img src="images/src/products/vilitra.png" alt="Vilitra 20 (Levitra)">
                                        </a>
                                    </figure>
                                    <a href="#" class="miniProduct__title">Vilitra 20 (Levitra)</a>
                                    <a href="#" class="btn miniProduct__shop btn--white">
                                        <span class="btn__text">Shop $8.9</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end Mini Product-->
                        <!--  Mini Product-->
                        <div class="miniProduct">
                            <div class="miniProduct__wrapper">
                                <div class="miniProduct__sale">Sale -30%</div>
                                <div class="miniProduct__inner">
                                    <figure class="miniProduct__image">
                                        <a href="#">
                                            <img src="images/src/products/vilitra.png" alt="Vilitra 20 (Levitra)">
                                        </a>
                                    </figure>
                                    <a href="#" class="miniProduct__title">Vilitra 20 (Levitra)</a>
                                    <a href="#" class="btn miniProduct__shop btn--white">
                                        <span class="btn__text">Shop $8.9</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end Mini Product-->
                        <!--  Mini Product-->
                        <div class="miniProduct">
                            <div class="miniProduct__wrapper">
                                <div class="miniProduct__sale">Sale -30%</div>
                                <div class="miniProduct__inner">
                                    <figure class="miniProduct__image">
                                        <a href="#">
                                            <img src="images/src/products/vilitra.png" alt="Vilitra 20 (Levitra)">
                                        </a>
                                    </figure>
                                    <a href="#" class="miniProduct__title">Vilitra 20 (Levitra)</a>
                                    <a href="#" class="btn miniProduct__shop btn--white">
                                        <span class="btn__text">Shop $8.9</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end Mini Product-->
                        <!--  Mini Product-->
                        <div class="miniProduct">
                            <div class="miniProduct__wrapper">
                                <div class="miniProduct__sale">Sale -30%</div>
                                <div class="miniProduct__inner">
                                    <figure class="miniProduct__image">
                                        <a href="#">
                                            <img src="images/src/products/vilitra.png" alt="Vilitra 20 (Levitra)">
                                        </a>
                                    </figure>
                                    <a href="#" class="miniProduct__title">Vilitra 20 (Levitra)</a>
                                    <a href="#" class="btn miniProduct__shop btn--white">
                                        <span class="btn__text">Shop $8.9</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end Mini Product-->
                        <!--  Mini Product-->
                        <div class="miniProduct">
                            <div class="miniProduct__wrapper">
                                <div class="miniProduct__sale">Sale -30%</div>
                                <div class="miniProduct__inner">
                                    <figure class="miniProduct__image">
                                        <a href="#">
                                            <img src="images/src/products/vilitra.png" alt="Vilitra 20 (Levitra)">
                                        </a>
                                    </figure>
                                    <a href="#" class="miniProduct__title">Vilitra 20 (Levitra)</a>
                                    <a href="#" class="btn miniProduct__shop btn--white">
                                        <span class="btn__text">Shop $8.9</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end Mini Product-->
                        <!--  Mini Product-->
                        <div class="miniProduct">
                            <div class="miniProduct__wrapper">
                                <div class="miniProduct__sale">Sale -30%</div>
                                <div class="miniProduct__inner">
                                    <figure class="miniProduct__image">
                                        <a href="#">
                                            <img src="images/src/products/vilitra.png" alt="Vilitra 20 (Levitra)">
                                        </a>
                                    </figure>
                                    <a href="#" class="miniProduct__title">Vilitra 20 (Levitra)</a>
                                    <a href="#" class="btn miniProduct__shop btn--white">
                                        <span class="btn__text">Shop $8.9</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end Mini Product-->
                        <!--  Mini Product-->
                        <div class="miniProduct">
                            <div class="miniProduct__wrapper">
                                <div class="miniProduct__sale">Sale -30%</div>
                                <div class="miniProduct__inner">
                                    <figure class="miniProduct__image">
                                        <a href="#">
                                            <img src="images/src/products/vilitra.png" alt="Vilitra 20 (Levitra)">
                                        </a>
                                    </figure>
                                    <a href="#" class="miniProduct__title">Vilitra 20 (Levitra)</a>
                                    <a href="#" class="btn miniProduct__shop btn--white">
                                        <span class="btn__text">Shop $8.9</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end Mini Product-->
                        <!--  Mini Product-->
                        <div class="miniProduct">
                            <div class="miniProduct__wrapper">
                                <div class="miniProduct__sale">Sale -30%</div>
                                <div class="miniProduct__inner">
                                    <figure class="miniProduct__image">
                                        <a href="#">
                                            <img src="images/src/products/vilitra.png" alt="Vilitra 20 (Levitra)">
                                        </a>
                                    </figure>
                                    <a href="#" class="miniProduct__title">Vilitra 20 (Levitra)</a>
                                    <a href="#" class="btn miniProduct__shop btn--white">
                                        <span class="btn__text">Shop $8.9</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end Mini Product-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="section faq">
    <div class="faq__wrapper">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="h2">FAQ</h2>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <a href="#" class="btn btn--white">
                        <span class="btn__text">
                            Show more
                        </span>
                    </a>
                </div>
            </div>
            <div class="faqRow">
                <div class="faqList">
                    <div class="faqItem">
                        <div class="faqItem__wrapper">
                            <div class="faqItem__head">
                                <span>Are there any discounts?</span>
                                <svg class="icon" width="11" height="7">
                                    <use xlink:href="#arrowDown"></use>
                                </svg>
                            </div>
                            <div class="faqItem__body">
                                <p>Please use our online price calculator to determine the price of your SmartPLS software purchase. It automatically considers all available discounts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faqItem">
                        <div class="faqItem__wrapper">
                            <div class="faqItem__head">
                                <span>What payment methods do you accept?</span>
                                <svg class="icon" width="11" height="7">
                                    <use xlink:href="#arrowDown"></use>
                                </svg>
                            </div>
                            <div class="faqItem__body">
                                <p>Please use our online price calculator to determine the price of your SmartPLS software purchase. It automatically considers all available discounts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faqItem">
                        <div class="faqItem__wrapper">
                            <div class="faqItem__head">
                                <span>What is the minimum order amount?</span>
                                <svg class="icon" width="11" height="7">
                                    <use xlink:href="#arrowDown"></use>
                                </svg>
                            </div>
                            <div class="faqItem__body">
                                <p>Please use our online price calculator to determine the price of your SmartPLS software purchase. It automatically considers all available discounts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faqItem">
                        <div class="faqItem__wrapper">
                            <div class="faqItem__head">
                                <span>Why does my Bitcoin payment still show as pending even though I have already sent it?</span>
                                <svg class="icon" width="11" height="7">
                                    <use xlink:href="#arrowDown"></use>
                                </svg>
                            </div>
                            <div class="faqItem__body">
                                <p>Please use our online price calculator to determine the price of your SmartPLS software purchase. It automatically considers all available discounts.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faqList">
                    <div class="faqItem">
                        <div class="faqItem__wrapper">
                            <div class="faqItem__head">
                                <span>Are there any discounts?</span>
                                <svg class="icon" width="11" height="7">
                                    <use xlink:href="#arrowDown"></use>
                                </svg>
                            </div>
                            <div class="faqItem__body">
                                <p>Please use our online price calculator to determine the price of your SmartPLS software purchase. It automatically considers all available discounts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faqItem">
                        <div class="faqItem__wrapper">
                            <div class="faqItem__head">
                                <span>What payment methods do you accept?</span>
                                <svg class="icon" width="11" height="7">
                                    <use xlink:href="#arrowDown"></use>
                                </svg>
                            </div>
                            <div class="faqItem__body">
                                <p>Please use our online price calculator to determine the price of your SmartPLS software purchase. It automatically considers all available discounts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faqItem">
                        <div class="faqItem__wrapper">
                            <div class="faqItem__head">
                                <span>What is the minimum order amount?</span>
                                <svg class="icon" width="11" height="7">
                                    <use xlink:href="#arrowDown"></use>
                                </svg>
                            </div>
                            <div class="faqItem__body">
                                <p>Please use our online price calculator to determine the price of your SmartPLS software purchase. It automatically considers all available discounts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faqItem">
                        <div class="faqItem__wrapper">
                            <div class="faqItem__head">
                                <span>Why does my Bitcoin payment still show as pending even though I have already sent it?</span>
                                <svg class="icon" width="11" height="7">
                                    <use xlink:href="#arrowDown"></use>
                                </svg>
                            </div>
                            <div class="faqItem__body">
                                <p>Please use our online price calculator to determine the price of your SmartPLS software purchase. It automatically considers all available discounts.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="reviews" class="section reviews">
    <div class="reviews__wrapper">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <h2 class="h2">Reviews</h2>
                </div>
                <div class="col-2">
                    <div class="slick-nav">
                        <button class="prev btn btn--white">
                            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.5 14L0.999999 7.5L7.5 1" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="19.25" y1="7.75" x2="1.75" y2="7.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button class="next btn">
                            <svg class="icon" width="20" height="15">
                                <use xlink:href="#arrowRight"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="slider">
                <div class="reviewsItemInfo">
                    <div class="reviewsItemInfo__head">
                        <div class="reviewsItemInfo__reviewsImage">
                            <img src="images/src/main/reviews.png" alt="">
                        </div>
                        <img src="images/src/main/trustpilot.png" alt="">
                    </div>
                    <p class="reviewsItemInfo__p">Rated 4.9/5 from 5628 reviews</p>
                    <div class="reviewsItemInfo__bottom">
                        <img src="images/src/main/rating.png" alt="rating">
                        <b>–   Excellent</b>
                    </div>
                </div>
                <div class="reviewsItem">
                    <div class="reviewsItem__head">
                        <div class="reviewsItem__name">Lousia Johnston</div>
                        <div class="rating">
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/starEmpty.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="reviewsItem__body">
                        <p>Very professional and hassle free. Will gladly buy with them again. Merry Christmas and a prosperous New Year …</p>
                    </div>
                    <div class="reviewsItem__date">
                        <span>6 min ago</span>
                    </div>
                </div>
                <div class="reviewsItem">
                    <div class="reviewsItem__head">
                        <div class="reviewsItem__name">Dima Apolsky</div>
                        <div class="rating">
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/starEmpty.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="reviewsItem__body">
                        <p>Very professional and hassle free. Will gladly buy with them again. Merry Christmas and a prosperous New Year …</p>
                    </div>
                    <div class="reviewsItem__date">
                        <span>1 hour ago</span>
                    </div>
                </div>
                <div class="reviewsItem">
                    <div class="reviewsItem__head">
                        <div class="reviewsItem__name">Jack Wilson</div>
                        <div class="rating">
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/starEmpty.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="reviewsItem__body">
                        <p>Great service and the plates look really good on arrival</p>
                    </div>
                    <div class="reviewsItem__date">
                        <span>6 min ago</span>
                    </div>
                </div>
                <div class="reviewsItem">
                    <div class="reviewsItem__head">
                        <div class="reviewsItem__name">Lousia Johnston</div>
                        <div class="rating">
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/star.png" alt="">
                            </div>
                            <div class="star">
                                <img src="images/src/main/starEmpty.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="reviewsItem__body">
                        <p>Very professional and hassle free. Will gladly buy with them again. Merry Christmas and a prosperous New Year …</p>
                    </div>
                    <div class="reviewsItem__date">
                        <span>6 min ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--#include  virtual="/parts/footer.html" -->
