<!--#include virtual="/parts/header.html" -->

<!--#include virtual="/parts/topNav.html" -->

<div class="page page-auth">
    <div class="page__wrapper">
        <form class="form">
            <div class="form__inner">
                <h1>Log in</h1>
                <div class="form__row">
                    <div class="field">
                        <div class="field__label">Email or mobile</div>
                        <div class="field__wrapper">
                            <input class="field__input" placeholder="Email or mobile" type="text">
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="field">
                        <div class="field__label">
                            <span>Password</span>
                            <a href="#">Forgot Password?</a>
                        </div>
                        <div class="field__wrapper">
                            <input class="field__input" placeholder="Password" type="password">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn form__submit">Log in </button>
                <div class="form__haveAccount">
                    Don’t have an account?  <a href="/signin.html">Sign up</a>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="js/app.min.js"></script>
</body>
</html>