<!--#include virtual="/parts/header.html" -->

<!--#include virtual="/parts/topNav.html" -->

<div class="page page-shop">
    <div class="page__wrapper">

        <header class="shopHeader">
            <div class="shopHeader__wrapper">
                <div class="container">
                    <div class="shopHeader__head">
                        <div class="shopHeader__title">
                            <h1 class="h1">Shop</h1>
                            <a href="#" class="shopHeader__allThings">All things wellness</a>
                        </div>
                        <div class="slick-nav">
                            <button class="prev btn btn--white">
                                <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.5 14L0.999999 7.5L7.5 1" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <line x1="19.25" y1="7.75" x2="1.75" y2="7.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                            <button class="next btn">
                                <svg class="icon" width="20" height="15">
                                    <use xlink:href="#arrowRight"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="shopHeader__slider slider">
                        <div class="categorySmallItem">
                            <a href="#" class="categorySmallItem__wrapper">
                                <div class="categorySmallItem__image">
                                    <figure>
                                        <img src="images/src/products/allProduct.png" alt="">
                                    </figure>
                                </div>
                                <a href="#" class="categorySmallItem__link">All Products</a>
                            </a>
                        </div>
                        <div class="categorySmallItem">
                            <a href="#" class="categorySmallItem__wrapper">
                                <div class="categorySmallItem__image">
                                    <figure>
                                        <img src="images/src/products/categoryVitamin.png" alt="">
                                    </figure>
                                </div>
                                <a href="#" class="categorySmallItem__link">Vitamin & Health</a>
                            </a>
                        </div>
                        <div class="categorySmallItem">
                            <a href="#" class="categorySmallItem__wrapper">
                                <div class="categorySmallItem__image">
                                    <figure>
                                        <img src="images/src/products/categoryMetalSmall.png" alt="">
                                    </figure>
                                </div>
                                <a href="#" class="categorySmallItem__link">Mental Health</a>
                            </a>
                        </div>
                        <div class="categorySmallItem">
                            <a href="#" class="categorySmallItem__wrapper">
                                <div class="categorySmallItem__image">
                                    <figure>
                                        <img src="images/src/products/categoryMetalSmall.png" alt="">
                                    </figure>
                                </div>
                                <a href="#" class="categorySmallItem__link">Mental Health</a>
                            </a>
                        </div>
                        <div class="categorySmallItem">
                            <a href="#" class="categorySmallItem__wrapper">
                                <div class="categorySmallItem__image">
                                    <figure>
                                        <img src="images/src/products/categoryMetalSmall.png" alt="">
                                    </figure>
                                </div>
                                <a href="#" class="categorySmallItem__link">Mental Health</a>
                            </a>
                        </div>
                        <div class="categorySmallItem">
                            <a href="#" class="categorySmallItem__wrapper">
                                <div class="categorySmallItem__image">
                                    <figure>
                                        <img src="images/src/products/categoryMetalSmall.png" alt="">
                                    </figure>
                                </div>
                                <a href="#" class="categorySmallItem__link">Mental Health</a>
                            </a>
                        </div>
                        <div class="categorySmallItem">
                            <a href="#" class="categorySmallItem__wrapper">
                                <div class="categorySmallItem__image">
                                    <figure>
                                        <img src="images/src/products/categoryMetalSmall.png" alt="">
                                    </figure>
                                </div>
                                <a href="#" class="categorySmallItem__link">Mental Health</a>
                            </a>
                        </div>
                        <div class="categorySmallItem">
                            <a href="#" class="categorySmallItem__wrapper">
                                <div class="categorySmallItem__image">
                                    <figure>
                                        <img src="images/src/products/categoryMetalSmall.png" alt="">
                                    </figure>
                                </div>
                                <a href="#" class="categorySmallItem__link">Mental Health</a>
                            </a>
                        </div>
                        <div class="categorySmallItem">
                            <a href="#" class="categorySmallItem__wrapper">
                                <div class="categorySmallItem__image">
                                    <figure>
                                        <img src="images/src/products/categoryMetalSmall.png" alt="">
                                    </figure>
                                </div>
                                <a href="#" class="categorySmallItem__link">Mental Health</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="shopMain">
            <div class="shopMain__wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <aside class="asideFilter">
                                <p class="asideFilter__title">Filters</p>
                                <div class="filterList">
                                    <p class="filterList__title">Categories</p>
                                    <ul class="filterList__ul">
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Vitamin & Health</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Mental Health" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Vitamin & Health" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Mental Health</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Injection" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Injection" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Injection</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Vitamin & Health" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Vitamin & Health" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Vitamin & Health</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Vitamin & Health</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Mental Health" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Vitamin & Health" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Mental Health</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Injection" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Injection" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Injection</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Vitamin & Health" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Vitamin & Health" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Vitamin & Health</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="filterList">
                                    <p class="filterList__title">Warehouses</p>
                                    <ul class="filterList__ul">
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="EURO" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">EURO (33)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Czech Republic" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Czech Republic" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Czech Republic (300)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Romania" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Romania" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Romania (234)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="USA" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="USA" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">USA (659)</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                    <button class="filterList__more">+ Show More</button>
                                </div>
                                <div class="filterList">
                                    <p class="filterList__title">Special offers</p>
                                    <ul class="filterList__ul">
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Sale" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" about="Sale" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Sale</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="filterList">
                                    <p class="filterList__title">Form</p>
                                    <ul class="filterList__ul">
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Liquids" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Liquids" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Liquids</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Sprays" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Sprays" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Sprays</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Aliquots" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Aliquots" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Aliquots</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="filterList__item">
                                            <div class="checkbox">
                                                <label class="checkbox__label">
                                                    <input class="checkbox__input" value="Powders" type="checkbox">
                                                    <span class="checkbox__visual">
                                                <img src="images/dist/icons/check.svg" alt="Powders" class="checkbox__checkedIcon"/>
                                            </span>
                                                    <span class="checkbox__text">Powders</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="filterList">
                                    <p class="filterList__title">Price</p>
                                    <div class="sliderHead">
                                        <div class="sliderControl sliderControl--of">
                                            <span>from</span>
                                            <input id="sliderOf" type="number">
                                        </div>
                                        <div class="sliderControl">
                                            <span>to</span>
                                            <input id="sliderTo" type="number">
                                        </div>
                                    </div>
                                    <div class="sliderBody">
                                        <b class="sliderBody__label">20</b>
                                        <div id="slider-range"></div>
                                        <b class="sliderBody__label">700</b>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col">
                            <div class="categoryProducts">
                                <h2 class="h2">All Products</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--#include  virtual="/parts/footer.html" -->