// USER VARIABLES SECTION

$grey: #788292
$accent: #DFE2E7
$black: #000
$fontSize: 16px
$textcolor: #000
$lineheight: 1.65 // Document Line Height
$userFont: HK Guise, sans-serif // User Font Family

$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// IMPORT SECTION

@import "node_modules/slick-carousel/slick/slick"
@import "node_modules/slick-carousel/slick/slick-theme"
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'
@import 'node_modules/bootstrap/scss/_utilities.scss'

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('HK Guise', normal, 300, '../fonts/HK Guise Light.woff2')
@include font('HK Guise', normal, 400, '../fonts/HK Guise Regular.otf')
@include font('HK Guise', normal, 500, '../fonts/HK Guise Medium.woff2')
@include font('HK Guise', normal, 600, '../fonts/HK Guise SemiBold.woff2')
@include font('HK Guise', normal, 700, '../fonts/HK Guise Bold.woff2')

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userFont
	font-size: $fontSize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden

.container
	max-width: 1200px