$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

@mixin fontSizes($size, $line_height) {
    font-size: rem($size);
    line-height: rem($line_height);
}